@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
   font-family: 'Shadows Into Light', cursive;
    margin: 0;
    
}

.container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
    font-family: 'Shadows Into Light', cursive;
   
   
}




header {
    background-image: url("mango.jpeg");
    background-size: cover;
    background-position: center center;
    color: rgb(0, 0, 0);
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100vh - 102px);
    font-size: 18px;
    font-weight: 600;
}

.content {
    font-size: 2rem;
    margin: auto;
    max-width: 100%;
}

.content h1 {
    color: #f2f513;
    margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav .logo {
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li a {
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.selected {
    font-weight: bold;
}

.highlight {
    background-color: #a6a91d;
    color: white;
    padding: 1rem;
    text-decoration: none;
    
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

footer strong {
    color: #fff700;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 700px) {
    .content {
        font-size: 1.4rem;
        margin: 2rem auto 0;
    }

    nav ul {
        flex-direction: column;
    }

    nav li:not(:last-child) {
        margin-bottom: 1rem;
    }

    nav .highlight {
        display: none;
    }

    footer ul {
        flex-direction: column;
        justify-content: center;
    }

    footer li {
        margin: 1rem;
        text-align: center;
    }
}
